body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0
}

.main-wrap {
	padding: 20px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25),0 -1px 1px rgba(113,123,149,0.2);
	color: #333;
}

.header-nav {
	background: #fafafa;
	box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
	padding: 5px;
	z-index: 999;
	position: relative;
	background: linear-gradient(to bottom, #606c88 0%,#02050C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
}

.header-nav li {list-style-type: none;
	text-align: center;
	padding: 9px 25px;
	display: inline;
	text-transform: lowercase;
	margin-right: 10px;
	font-weight: bold;
	font-size: 17px;
}

.header-nav li a {
	text-decoration: none;
}

.title-panel {
	background: url(http://www.ldnwicklesscandles.com/storage/Breeze.jpg?__SQUARESPACE_CACHEVERSION=1351012149034) no-repeat;
	clear: both;
	background-size: 100%;
	padding: 30px 70px;
	color: #FFF;
	box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
}

.panel {
	background: #f2f2f2;
	border: solid 1px #e6e6e6;
	margin: 0 0 22px 0;
	padding: 20px;
}

article {

}

a {
  color: #00B7FF;
}